**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt
logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
deploy-testnet.mjs
node_modules
.vscode
deployments/duel-skate-rc1.canary-checklist.md
deployments/duel-skate-rc1.mainnet-plan.yaml
metadata
scripts